@model AircraftLore.Models.AircraftViewModel
@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Aircraft" asp-action="Index" method="get">
    <p>
        <select asp-for="CategoryString" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        <select asp-for="CountryString" asp-items="Model.Countries">
            <option value="">All</option>
        </select>
        Aircraft Model: <input type="text" asp-for="ModelString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.Aircrafts[0].ModelName))</th>
            <th>@(Html.DisplayNameFor(model => model.Aircrafts[0].Description))</th>
            <th>@(Html.DisplayNameFor(model => model.Aircrafts[0].PictureFile))</th>
            <th>@(Html.DisplayNameFor(model => model.Aircrafts[0].Country))</th>
            <th>@(Html.DisplayNameFor(model => model.Aircrafts[0].Category))</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Aircrafts){
        <tr>
            <td>@(Html.DisplayFor(modelItem => item.ModelName))</td>
            <td>@(Html.DisplayFor(modelItem => item.Description))</td>
            <td>
                <img width="250" height="150" src="assets/images/aircraft/@(Html.DisplayFor(modelItem => item.PictureFile))" alt="@(Html.DisplayFor(modelItem => item.PictureFile))" />
            </td>
            <td>
                <img class="border-1-solid-black" width="150" src="assets/images/flags/@(Html.DisplayFor(modelItem => item.Country)).jpg" alt="@(Html.DisplayFor(modelItem => item.Country))" />
            </td>
            <td>@(Html.DisplayFor(modelItem => item.Category))</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
